.container {
  background-color: rgb(202, 201, 201);
}

.header {
  align-items: center;
  top: 0;
  left: 0;
  background-color: #87ceeb;
  width: 100%;
  flex-wrap: wrap;
  position: fixed;
}

.main img {
  border-radius: 50%;
}
.main {
  background-color: rgb(202, 201, 201);
  padding: 10% 5%;
}

.about-row {
  background-color: rgb(187, 185, 185);
  padding: 10% 5%;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.skills-row {
  background-color: rgb(187, 185, 185);
  padding: 10%;
}

span {
  color: rgb(39, 163, 240);
}
li {
  display: inline-block;
  padding: 20px;
  font-size: large;
  font-weight: 600;
  padding-top: 25px;
}

.headbtns a {
  text-decoration: none;
  color: black;
}
h1 {
  padding: 10px;
}
.headbtns a:hover {
  text-decoration: underline;
}
.projrow {
  background-color: silver;
  align-items: center;
  width: 100%;
  padding: 50px 0px;
  text-align: center;
}
.box {
  background-color: rgb(212, 208, 208);

  padding: 1px;

  text-align: center;
  border-radius: 10%;
}
.store_image img {
  width: 300px;
  height: 350px;
  padding: 10px;
  border-radius: 10%;
}
.jsimg img {
  border-radius: 20px;
}
.btns {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border: none;
}
.btns button {
  border: none;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(56, 56, 56);
  color: white;
  padding: 10px;
}
.btns button a {
  color: white;
  text-decoration: none;
}
